body {
  margin: 0;
}

.themed-container {
  margin: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
}

.banersection-bg {
  background-image: url(../assets/images/grocery_bg.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-bg-img {
  background-image: url(../assets/images/navhead_img.png);
  height: 13vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-img {
  margin-top: -6px;
  margin-left: 25%;
}

.baner-card-img {
  background-image: url(../assets/images/custom_img1.png);
  height: 37vh;
  width: 80%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 42%;
}

.baner-card-img1 {
  background-image: url(../assets/images/custom_img2.png);
  height: 37vh;
  width: 80%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 21%;
}

.baner-card-img2 {
  background-image: url(../assets/images/custom_img.png);
  height: 37vh;
  width: 80%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.viewmore-btn {
  margin-top: 30%;
  margin-left: 65%;
  color: white;
  background-color: olivedrab;
  border-radius: 13px;
}

.hompage-nav-homebtn {
  color: #83A43E;
}

.hompage-navlink-btn {
  color: white;
}

.buymore-btn {
  color: red;
  line-height: 19px;
  background-color: #fff;
  border-color: aliceblue;
  border-radius: 0px 30px 30px 0px;
  margin-top: 10%;
  margin-right: 61px;
  font-weight: 500;
}

.fruits-veg-btn {
  color: dimgray;
  font-weight: 100;
  margin-right: 12%;
}

.homepage-navbar {
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 3%;
}

.sign-btn {
  margin-left: 30px;
  width: 70px;
}


.first-head {
  margin-top: 50px;
  font-family: Serif;
  margin-left: 113px;
}

.banersection-head {
  margin-right: 50px;
  margin-top: 0px;
  color: white;
  font-size: 64px;
}

.banersection-head-para {
  font-size: 20px;
  margin-left: 5px;
  font-family: sans-serif;
  color: #eeebeb;
}

.banersection-para2 {
  margin: 0px;
}

.banersection-buy {
  font-size: 64px;
  color: white;
}

.banersection-para {
  margin-right: 100px;
}

.banersection-para1 {
  padding-right: 11%;
  margin: 0px;
}

.banersection-view-btn {
  color: white;
  background-color: olivedrab;
}

.view-btn {
  margin-left: 35%;
}

.card-section-img {
  margin-top: 7%;
}

.categories-head {
  margin-top: 200px;
  text-align: center;
}

.catogries-underline {
  text-align: center;
}

.categorie-kgbtn {
  color: white;
  background-color: #83A43E;
  border-color: #83A43E;
}

.categorie-kgbtn1 {
  color: olivedrab;
  border-color: #83A43E;
}

.categories-btn {
  text-align: center;
}

.categories-card {
  margin-top: 40px;
}

.Categories-card-img {
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  margin-left: 55px;
}

.addtocart-img {
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  margin-left: 55px;
}

.addtocart-amount {
  color: rgb(12, 12, 11);
  font-weight: 500;
  margin-left: 6px;
  font-size: 18px;
}

.addtocart-deliverycharge {
  color: rgb(12, 12, 11);
  font-weight: 500;
  margin-left: 6px;
  font-size: 18px;
  position: absolute;
  margin-left: 100%;
  margin-top: -44%;
}

.addtocart-price {
  color: rgb(12, 12, 11);
  font-weight: 500;
  margin-left: 6px;
  font-size: 18px;
  position: absolute;
  margin-left: 100%;
  margin-top: -35%;
}

.addtocart-packagecharge {
  color: rgb(12, 12, 11);
  font-weight: 500;
  margin-left: 6px;
  font-size: 18px;
  position: absolute;
  margin-left: 100%;
  margin-top: -25%;
}

.addtocart-amountdetail {
  position: absolute;
  margin-left: 100%;
  margin-top: -55%;
}

.kilogram-btn {
  margin-left: 20px;
}

.categires-amount {
  margin-left: 25%;
}

.amount {
  color: olivedrab;
  font-weight: 500;
  margin-left: 6px;
  font-size: 18px;
}

.categires-webrupee {
  color: olivedrab;
  font-weight: 500;
  font-size: 19px;
}

.addtocart-webrupee {
  color: rgb(8, 8, 8);
  font-weight: 500;
  font-size: 19px;
}

.categories-card-text {
  color: black;
  margin-left: 5%;
  font-family: sans-serif;
  font-weight: 600;
}

.addtocart-text {
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  margin-left: 107%;
}

.whishlist-card {
  margin-left: 17px;
}

.wishlist-card-text {
  color: black;
  margin-left: 10%;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
}

.wishlist-cart {
  width: 160px;
  padding: 5px 10px;
  margin-left: 15px;
  color: white;
  background-color: #83A43E;
  border-color: #83A43E;
}

.categories-fruitsbtn {
  color: white;
  background-color: olivedrab;
  border-radius: 25px;
}

.product-amt {
  margin-left: 35%;
}

.cart {
  width: 160px;
  padding: 5px 10px;
  color: white;
  background-color: olivedrab;
  border-color: olivedrab;
}

.like {
  margin-left: 30px;
  border-color: olivedrab;
  padding: -20px -10px 1px 1px ;
}

.client-bg {
  background-image: url(../assets/images/client_bg.png);
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;
}

.client-container {
  margin-top: 7%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.client-side-img {
  height: 110%;
  width: 100%;
  margin-top: -40px;
  margin-left: -65px;
}

.client-under-img {
  margin-top: -100px;
}

.customer-name {
  margin-top: -20px;
  margin-left: 35px;
}

.customer-img {
  margin-top: 20px;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.client-card {
  margin-left: 70px;
  margin-top: 50px;
}

.client-head {
  font-size: 46;
  font-family: serif;
  text-align: center;
  font-weight: 800;
  color: black;
}

.client-merry {
  font-family: serif;
  font-weight: 800;
  font-size: 18px;
}

.client-analyst {
  color: dimgrey;
}

.clien-text {
  color: dimgrey;
  margin: 10px;
}
.client-photo {
  text-align: center;
}

.popular-head {
  font-size: 46;
  font-family: serif;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
  margin-top: 80px;
}

.Popular-head-ul{
  text-align: center;
}

.popular-card-img {
  height: 100%;
  width: 100%;
}

.popular-car-dhead {
  color: black;
  font-size-adjust: inherit;
  margin-left: 70px;
}

.popular-like {
  margin-left: 80px;
  margin-top: 2px;
  border-color: olivedrab;
}

.popular-cart {
  width: 160px;
  padding: 5px 10px;
  margin-left: 50px;
  color: white;
  background-color: olivedrab;
}

.productdetail-cotainer {
  background-color: rgb(243, 241, 241);
  margin: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
}

.product-nav-bg {
  background-image: url(../assets/images/decrectanle_img.png);
  height: 15vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

.product-nav-bar {
  margin-left: auto;
  margin-right: 8%;
  margin-bottom: 3%;
}

.search-icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 16%;
  color: rgb(123, 179, 13);
  font-size: 14px;  
}

.fa-shopping-cart {
  padding-left: 20px;
  margin-top: 14px;
  color: rgb(123, 179, 13);
}

.product-search {
  outline: none !important;
  border-color: olivedrab;
  color:rgb(181, 224, 93);
  margin-left: 20%;
}

.productdetail-card-bg {
  background-image: url(../assets/images/rectangle_img.png);
  height: 90vh;
  width: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10%;
  margin-left: 12%;
}

.popular-product-card-img {
  height: fit-content;
  width: fit-content;
  margin-left: 11%;
  margin-top: 10%;
}

.product-detail-card {
  height: 80vh;
  position: absolute;
  margin-left: 50px;
  margin-top: 30px;
}

.prduct-slider {
  margin-top: -100px;
  margin-left: 35%;
}

.product-small-img {
  margin-top: 50%;
  margin-left: none !important;
  height: fit-content;
  width: fit-content;
}

.product-small-img1 {
  margin-top: 50%;
  width: fit-content;
  height: fit-content;
}

.product-small-img2 {
  margin-top: 50%;
  height: fit-content;
  width: fit-content;
}

.product-card-bg1 {
  background-image: url(../assets/images/decrectanle_img.png);
  height: 92%;
  width: 90%;
  margin-top: 10%;
  margin-left: 8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offbtn {
  border: rgba(110, 121, 88, 0.21);
  background: rgba(141, 175, 70, 0.21);
  font-weight: 500;
  margin-top: 90%;
  margin-left: 40%;
  font-weight: 500;
  color: #98c92f;
  width: 100%;
  font-size: 16px;
}

.product-detail-head {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 6%;
  margin-left: 10%;
}

.product-details-nav {
  color: black;
}

.product-details-minusbtn {
  background-color: #83A43E;
}

.product-details-center {
  border-color: #83A43E;
}

.productdetail-para {
  font-size: 15px;
  color: dimgray;
  margin: 0px;
  margin-left: 8%;
}

.productdetail-para1 {
  font-size: 15px;
  color: dimgray;
  margin-right: 58%;
  margin-left: 8%;
}

.product-details-rupee {
  color: olivedrab;
  font-weight: 600;
  font-size: 32px;
  margin-left: 25%;
}

.product-details-amount {
  color: olivedrab;
  font-weight: 600;
  font-size: 32px;
  margin-left: 4%;
}

.product-stock {
  margin-left: 25%;
  font-weight: 330;
  color: #999999;
  font-family: sans-serif;
}

.product-details-plus-btn {
  margin-left: 22%;
}

.product-details-kgbtn {
  margin-top: 10px;
  margin-left: -10%;
}

.product-first-btn {
  color: white;
  background-color: #83A43E;
  padding: 3px 13px;
  margin-bottom: 10px;
}

.product-first-btn1 {
  border-color:#83A43E;
  color:#83A43E;
  padding: 3px 13px;
  margin-bottom: 10px;
}

.product-details-cart {
  padding: 5px 70px;
  margin-right: 25px;
  border-color: #83A43E;
  background-color:#83A43E;
  color: white;
  height: 53px;
}

.product-details-like {
  margin-left: -50%;
  border-color: #83A43E;
  padding: 10px 14px;
}

.popular-product-underline {
  text-align: center;
}

.producdetail-card {
  margin-top: 10px;
  margin-left: 6%;
}

.product1 {
  margin-left: 12%;
}

.product-size {
  margin-left: -10%;
}

.product-size1 {
  margin-left: -8%;
}

.product2 {
  margin-left: 22px;
}

.product3 {
  margin-left: 25px;
}

.login-logo-img {
  margin-left: 34%;
  position: absolute;
  margin-top: -60px;

}

.login-under-line {
  margin-left: 35%;
  margin-top: 10px;
  width: 30%;
  height: fit-content;
}

.login {
  font-family: serif;
  font-weight: 600;
  color: rgb(120, 165, 31);
  text-align: center;
  margin-top: 19px;
  margin-left: 5px;
  font-size: 39px;
}

.login-number {
  background-color: rgb(228, 227, 227);
  border-color: whitesmoke;
  width: 89%;
  padding: 13px 30px;
  margin-left: 10px;
}

.login-input {
  margin-left: 29px;
  margin-top: 20px;
}

.login-btn {
  padding: 10px 30%;
  border-color: rgb(140, 184, 53);
  color: white;
  background-color: olivedrab;
  font-size: 18px;
}

.login-button {
  margin-top: 20px;
  text-align: center;
}

.social {
  font-size: 15px;
  color: rgb(101, 143, 17);
  margin-left: 10px;
}

.modal-content {
  border-radius: 15px;
  padding:  19% 0% 20% 0%;
  width: 90%;
  height: 90%;
}

.login-ul-img {
  width: 24%;
  font-weight: 600;
  margin-left: 78px;
}

.login-ul-img1 {
  width: 24%;
  margin-left: 10px;
}

.facebook {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.search {
  color: rgb(223, 62, 62);
  font-size: 43px;
}

.login-img {
  text-align: center;
}

.account-log {
  font-size: 17px;
  color: rgb(104, 98, 98);
}

.signup-para {
  font-size: 17px;
  color: rgb(95, 136, 12);
}

.login-lastline {
  text-align: center;
  position: absolute;
  /* margin-top: 30px; */
}

.terms-header-bg {
  background-image: url(../assets/images/grocery_bg.png);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
  padding-left: 0px;
  padding-right: 0px;
}

.terms-head {
  font-size: 48px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.terms-ul {
  text-align: center;
}

.terms-card {
  width: 75%;
  margin-left: 12%;
  margin-top: 50px;
}

.terms-second-head {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(75, 74, 75);
  margin-left: 20px;
  margin-top: 25px;
}

.agree-btn {
  padding: 4px 25px;
  color: white;
  background-color: rgb(102, 148, 11);
  border-color: rgb(102, 148, 11);
  margin-left: 87%;
  margin-top: 20px;
}

.terms-search {
  background-color: transparent;
  font-weight: 100;
  border-color: white;
}

#inputID::placeholder {
  color: white;
  opacity: 1;
}

.terms-search-icon {
  color: white;
  position: absolute;
  margin-top: -30px;
  margin-left: 13%;
}

.terms-navbar {
  margin-left: auto;
  margin-right: 4%;
  margin-bottom: 3%;
}

.terms-navlink {
  color: white;
}

.terms-nav-wishlistbtn {
  color: #83A43E;
}

.terms-nav-cart {
  color: white;
  padding: 10px 10px;
}

.terms-logo-img {
  margin-top: -6px;
  margin-left: 45%;
}

.terms-heading {
  position: absolute;
  margin-top: -15%;
  margin-left: 41%;
}

.setting-drpdn {
  background-color: transparent;
  border-color: transparent;
}

.terms-search {
  margin-left: 10px;
}

.otp-para {
  font-size: 18px;
  text-align: center;
  color: #636161;
  margin-top: 5px;
}

.otp-number {
  background-color:  rgb(228, 227, 227);
  border-color: whitesmoke;
  width: 89%;
  padding: 13px 30px;
}

.otp-input {
  margin-left: 47px;
  margin-top: 20px;
}

.otp-numbers {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 22px;
  color: #8cb13d;
}

.otp-logo-img {
  margin-left: 34%;
  position: absolute;
  margin-top: -54px;
}

.otp-edit {
  position: absolute;
  font-size: 19px;
  margin-left: 15px;
  margin-top: -4px;
}

.resend-otp {
  font-size: 22px;
  color: #83A43E;
  position: absolute;
  margin-top: 105%;
  margin-left: 39%;
}

.wishlistpage {
  margin-top: 5%;
}



.deletebtn {
  position: absolute;
  margin-bottom: 9px;
  font-size: 18px;
  margin-left: 17px;
  color: rgb(163, 157, 157);
}

.payment-card {
  width: 75%;
  margin-left: 12%;
  margin-top: 50px;
}
.checkout-card {
  width: 75%;
  margin-left: 12%;
  margin-top: 50px;
}

.payment-card-head {
  color: rgb(24, 23, 23);
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 20px;
  font-family: sans-serif;
}

.payment-rectangle {
  background-image: url(../assets/images/payment_rectangle.png);
  height: 7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #f5f4f4;
}

.checkout-second-head {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
  margin-left: 20px;
  margin-top: 25px;
}

.checkout-address {
  background-image: url(../assets/images/checkout_rectangle.png);
  height: 7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #f5f4f4;
}

.payment-radio-btn {
  font-size: 25px;
  margin-top: 10px;
}

.payment-radio-text {
  font-size: 18px;
  margin-left: 13px;
  margin-top: 8px;
  color: rgb(36, 17, 17);
  font-family: Montserrat;
}

.payment-method {
  margin-left: 20px;
}

.payment-bill {
  background-image: url(../assets/images/payment_rectangle.png);
  height:25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #f5f4f4;
}

.payment-order {
  color: rgb(24, 23, 23);
  font-size: 19px;
  font-weight: 700;
  margin-top: 20px;
  font-family: sans-serif;
}
.payment-total {
  font-size: 17px;
  font-weight: 500;
  color: rgb(29, 28, 28);
  margin-left: 40px;
  margin-top: 20px;
}

.payment-total1 {
  font-size: 17px;
  font-weight: 500;
  color: rgb(44, 43, 43);
  margin-left: 40px;
}

.payment-totals {
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
}

.payment-totals1 {
  font-size: 17px;
  font-weight: 600;
}

.payment-totalline {
  width: 95%;
  margin-left: 30px;
}

.payment-total2 {
  font-size: 15px;
  font-weight: 700;
  color: rgb(37, 37, 37);
  margin-left: 40px;
}

.payment-rupee1 {
  font-size: 18px;
  font-weight: 700;
  color: rgb(37, 37, 37);
  font-family: Montserrat;
}

.payment-confirm-btn {
  color: white;
  background-color: #83A43E;
  border-color:#83A43E ;
  margin-left: 86%;
}

.checkout-location {
  font-size: 25px;
  color: #83A43E;
  margin-left: 13px;
}

.checkout-add-text {
  color: #83A43E;
  margin-left: 10px;
  font-size: 18px;
}

.checkout-address1 {
  background-image: url(../assets/images/checkout_rectangle.png);
  height: 19vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F8F8F8;
}

.checkout-second-head1 {
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 23px;
  font-weight: 600;
  color: rgb(37, 37, 37);
  margin-left: 10px;
  position: absolute;
  margin-top: 10px;
}

.checkout-fiedit {
  color: #CCB8B8;
  position: absolute;
  margin-left: 94%;
  margin-top: 10px;
}

.checkout-contact {
  position: absolute;
  margin-top: 34px;
  margin-left: 10px;
  color: #615f5f;
  font-size: 18px;
}

.checkout-delete-btn {
  position: absolute;
  margin-top: 34px;
  margin-left: 94%;
  color: #CCB8B8;
}

.checkout-street{
  position: absolute;
  margin-top: 65px;
  margin-left: 10px;
  color: #615f5f;
  font-size: 17px;
}

.checkout-street1{
  position: absolute;
  margin-top: 85px;
  margin-left: 10px;
  color: #615f5f;
  font-size: 17px;
}

.checkout-delivery {
  font-size: 12px;
  position: absolute;
  margin-top: 85px;
  margin-left: 85%;
  color: rgb(65, 63, 63);
}

.checkout-heart {
  position: absolute;
  margin-top: 81px;
  margin-left: 94%;
  color: rgb(65, 64, 64);
}

.checkout-delivery1 {
  font-size: 12px;
  position: absolute;
  margin-top: 85px;
  margin-left: 85%;
  color:#83A43E;
}

.checkout-heart1 {
  position: absolute;
  margin-top: 81px;
  margin-left: 94%;
  color:#83A43E;
}

.checkout-order {
  font-size: 19px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
}

.checkout-img {
  height: fit-content;
  width: fit-content;
}

.checkout-order-no {
  color: dimgrey;
  font-weight: 400;
}

.checkout-order-organic {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
}

.checkout-order-kg {
  color: rgb(61, 61, 61);
  font-weight: 500;
}

.checkout-order-date {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
}

.checkout-order-date2 {
  color: dimgrey;
  font-weight: 400;
  margin-left: 10px;
}

.checkout-order-date1 {
  color: dimgrey;
  font-weight: 400;
}

.checkout-order-deliver {
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
}

.checkout-bill {
  background-image: url(../assets/images/checkout_rectangle.png);
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #F8F8F8;
}

.checkout-total {
  margin-top: 15px;
  margin-left: 40px;
  color: rgb(8, 8, 8);
  font-weight: 400;
}

.checkout-rupee {
  color: rgb(8, 8, 8);
  font-weight: 600;
}

.checkout-totals {
  margin-top: 15px;
}

.checkout-totalline {
  width: 95%;
  margin-left: 35px;
}

.checkout-total1 {
  margin-left: 40px;
  color: rgb(8, 8, 8);
  font-weight: 400;
}

.checkout-total2 {
  margin-left: 40px;
  color: rgb(8, 8, 8);
  font-weight: 700;
}

.checkout-rupee1 {
  color: rgb(8, 8, 8);
  font-weight: 700;
}

.checkout-confirm-btn {
  color: white;
  background-color:#83A43E;
  border-color:#83A43E ;
  margin-left: 85%;
}

.order-history-card {
  width: 75%;
  margin-left: 12%;
  margin-top: 50px;
  background-color: white;
  border-color: white;
}

.order-history-organic {
  font-size: 19px;
  font-weight: 700;
  color: rgb(41, 40, 40);
}

.order-history-no {
  color: #666666;

}

.order-history-kg {
  color: rgb(54, 53, 53);
  font-weight: 500;
}

.order-history-date1 {
  color: #666666;
  font-style: normal;
}

.order-history-date {
  font-size: 19px;
  font-weight: 500;
  color: rgb(24, 23, 23);
}

.order-history-deliver {
  font-size: 19px;
  font-weight: 500;
  color: rgb(39, 38, 38);
}

.order-history-trackbtn {
  padding: 1px 24px;
  color: white;
  background-color: #83A43E;
  border-color: #83A43E;
}

.order-history-cancel {
  margin-left: 10px;
  color: red;
}

.order-history-card1 {
  width: 75%;
  margin-left: 12%;
  background-color: white;
  border-color: white;
}

.order-history-deliverd {
  font-family: sans-serif;
  font-size: 17px;
  color:rgb(101, 143, 17);
}

.order-history-receiptkbtn {
  padding: 1px 16px;
  color:#83A43E;
  background-color: #D8F3DC;
  border-color: #D8F3DC;
}

.order-history-cancelled {
  color: red;
}

.themed-container1 {
  margin: 0;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  position: relative;
  background-color: #f1f0f0;
}

.order-history-fotter {
  margin-top: 20%;
}

.summary-click {
  font-size: 120px;
  text-align: center;
  color: #83A43E;
}

.summary-text {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  color: #000;
}

.sumamary-address {
  background-image: url(../assets/images/checkout_rectangle.png);
  height: 20vh;
  width: 97%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #f3f0f0;
  margin-left: 15px;
}

.checkout-confirm-btn {
  color: white;
  background-color:#83A43E;
  border-color:#83A43E ;
  margin-left: 82%;
}

.summary-second-head {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(8, 8, 8);
  margin-left: 0px;
}   

.heart-icon {
  margin-top: -30px;
  padding: 10px 10px 10px 10px;
  color: #83A43E; 
  background-color: #83A43E;
  border: #83A43E; 
  border-color: #83A43E;
}

.img-fluid {
  width: 25px;
}