.searchicon {
  position: absolute;
  margin-top: -30px;
  margin-left: 16%;
  color: rgb(123, 179, 13);
  font-size: 14px;  
}
  
.fa-shopping-cart {
  padding-left: 20px;
  margin-top: 14px;
  color: rgb(123, 179, 13);
}

.termsbg {
  background-image: url(./bg_header.png);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1.5;
  padding-left: 0px;
  padding-right: 0px;
}

.termshead {
  font-size: 42px;
  font-family: sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 40px;
}
  
.termsul {
  text-align: center;
}
  
.termscard {
  width: 75%;
  margin-left: 12%;
  margin-top: 50px;
}
  
.termsecondhead {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 550;
  color: rgb(75, 74, 75);
  margin-left: 20px;
  margin-top: 25px;
}
  
.agreebtn {
  padding: 4px 25px;
  color: white;
  background-color: rgb(102, 148, 11);
  border-color: rgb(102, 148, 11);
  margin-left: 87%;
  margin-top: 20px;
}
  
.termssearch {
  background-color: transparent;
  font-weight: 100;
  border-color: white;
}
  
#inputID::placeholder {
  color: white;
  opacity: 1;
}
  
.termssearchicon {
  color: white;
  position: absolute;
  margin-top: -30px;
  margin-left: 13%;
}
  
.termsnavbars {
  margin-left: auto;
  margin-right: 4%;
  margin-bottom: 3%;
}
  
.termslogoimg {
  margin-top: -6px;
  margin-left: -60px;
}
  
.termsheading {
  position: absolute;
  margin-top: -15%;
  margin-left: 41%;
}
  
.settingdrpdn {
  background-color: none;
  border-color: transparent;
}
    
.termsearch {
  margin-left: 10px;
}

.rect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
}

.rect2 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.rect3 {
  display: flex;
  margin-left: auto;
  padding-left: 5px;
  margin-top: 3px;
  padding-right: 6px;
  width:5%;
}

.rect4 {
  display: flex;
  margin-right: auto;
  margin-top: 3px;
  width:4%;
}

.mypro {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 42px;
} 